/* colours 
- #F6E7DA soft peach background
- #6E3A14 headline text 
- #DF6F1B orange accent 
- #8E5F2B warm golden brown 
- #5E512B olive green 
- #5F8D3B button green 
*/ 

body {
    background-color:#f7efe8;
}

.text_main {
    color: #000000; 
    font-family: 'Lobster', serif;

}

/* Color tracks */
.spiciness-slider::-webkit-slider-runnable-track {
    background-color: #dc3545; 
}
.deliciousness-slider::-webkit-slider-runnable-track {
    background-color: #ffc107; 
}
.value-slider::-webkit-slider-runnable-track {
    background-color: #198754; 
}
.plating-slider::-webkit-slider-runnable-track {
    background-color: #0dcaf0; 
}

#profileHeader {
    text-align: center;
    font-family: 'Lobster', serif;

}

#profileSub {
    display: flex;
    justify-content: center;   
    align-items: center;      
    gap: 1rem;              
    flex-wrap: wrap; 

}

#profileContainer {
    display: flex;
    box-sizing: border-box;
    width: 100%; 
    align-items: center;
    flex-direction: column;
}

#content {
    width: 100%; 
    display: grid;
    margin: 0 auto; 
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    padding: 10px;
    box-sizing: border-box;
}

.post {
    border-radius: 10px;
    width: 100%; 
    min-height: 400px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.postImage {
    width: 100%;
    aspect-ratio: 2.5 / 1;
    object-fit: cover;
    object-position: center; 
    border-radius: 0 0 10px 10px;
}

.profileImage {
    width:6rem; 
    height:6rem; 
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border:4px solid #5E512B; 
}

.profileImageSmall {
    width:4rem; 
    height:4rem; 
    object-fit: cover;
    object-position: top;
    border-radius: 20%;
    border:2px solid #5E512B; 
}

.addPost {
    width: 30px;
    height: 30px;
    background-color: #5F8D3B;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Overlay background */
}
  
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    position: relative;
}
  
.close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}



  