/* Finalized global styles for all pages go here. */
/* Page-specific or pending styles are in separate CSS files. */




/* Custom scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
    width: 13px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #F6E7DA; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #8E5F2B; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 3px solid #F6E7DA; /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5E512B; /* Darker color on hover */
}

/* Header Styling */
.position-relative {
    /* background-color: #5F8D3B; */
    color: white; /* Text color */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}



.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .form-control {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    width: auto;
    transition: border-color 0.3s ease;
}

form .form-control[type="text"] {
    width: 250px;
}

form textarea.form-control {
    width: 750px;
}

form .form-control:focus {
    border-color: #5F8D3B; /* Highlight border on focus */
}

.ms-3 a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.ms-3 a:hover {
    color: #f0f0f0; /* Lighter color on hover */
}