{% extends "base.html" %} {% block title %} post {% endblock %} 

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <form method="POST" class="w-50">
        <h3 class="text-center mb-4">New Post</h3>

        <div class="mb-3">
            <input type="text" name="Resturaunt" class="form-control" placeholder="Restaurant" required>
        </div>
        <div class="mb-3">
            <label for="Spiciness" class="form-label">Spiciness</label>
            <input type="range" name="Spiciness" id="Spiciness" class="form-range spiciness-slider" min="1" max="100" value="0" required>
        </div>
        <div class="mb-3">
            <label for="Deliciousness" class="form-label">Deliciousness</label>
            <input type="range" name="Deliciousness" class="form-range deliciousness-slider" min="1" max="100" value="0" required>
        </div>
        <div class="mb-3">
            <label for="Value" class="form-label">Value</label>
            <input type="range" name="Value" class="form-range value-slider" min="1" max="100" value="0" required>
        </div>
        <div class="mb-3">
            <label for="Plating" class="form-label">Plating</label>
            <input type="range" name="Plating" class="form-range plating-slider" min="1" max="100" value="0" required>
        </div>

        <div class="mb-3">
            <textarea  name="Review" class="form-control" placeholder="Review"></textarea>
        </div>
        <div class="mb-3">
            <input type="text" name="image" class="form-control" placeholder="Image URL (optional)">
        </div>
        <div class="text-center">
            <button class="btn btn-outline-secondary" type="submit">Post</button>
        </div>
    </form>
</div>

<script 
    type="text/javascript" 
    src="{{ url_for('static', filename='index.js') }}"
></script> 
{% endblock %}
